<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: insert(~{::title}, ~{::block})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<block>
    <H2>회원가입 페이지</H2>

    <script th:if="${warnings} != null" th:inline="javascript">
        alert([[${warnings.message}]]);
    </script>


    <form action="user.html" th:object="${userForm}" th:action="@{/user/join}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="errors:${#fields.globalErrors()}" th:text="${errors}"></p>
        </div>
        <div>
            <label for="userName">이름</label>
            <input type="text" id="userName" th:field="*{userName}" placeholder="이름을 입력하세요">
            <p th:errors="*{userName}">이름 오류</p>
        </div>
        <div>
            <label for="id">ID</label>
            <input type="text" id="id" th:field="*{id}" placeholder="ID를 입력하세요">
            <p th:errors="*{id}">ID 오류</p>
        </div>
        <div>
            <label for="password">비밀 번호</label>
            <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요">
            <p th:errors="*{password}">비밀번호 오류</p>
        </div>

        <button type="submit"> 회원가입 </button>

    </form>
</block>

</body>
</html>